/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;

}


/* LAYOUT */

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding-top:60px;

    /* debug */
    /* border: 1px solid black; */
}


.container-header{
    width: 80%;
    margin: 0 auto;
}



.flex { 
    display: flex;
        flex-wrap: wrap;
        gap: 20px;
}

/* general */

.col {
    width: calc(100% / 3 - (40px / 3));
    min-height: 600px;
}

li{
    margin: 2px;
}

h4{
    margin-bottom:3px;
}



/* HEADER */

    
header{
    height: 60px;
    background-color: rgb(231, 86, 14);
    position: fixed;
    z-index: 100;
    width: 100%; 
    color: white; 
}

.headerboolando{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* line-height: 60px; */
    height: 60px;
}

.boolean-logo{
    height: 35px;
  
}

        .genders{
    color: white;
    width:15%;
    padding:2px;
}

.symbols{
    display: flex;
   justify-content: flex-end;
   gap:10px

}



header li{  
    display: inline-block;
}

.main.logo{
    size: 50px;
}





/* MAIN */
.product{
    position: relative;
}

.heart{
    position:absolute;
    right: 0;
    top: 5px;
    background-color: white;
    padding:5px;
    z-index: 10;
}

.heart :hover {
    color: red;
}


.main-image{
    position:absolute;
    top: 0;
    left: 0;
}
.second-image{
    position: relative; 
    top: 0;  
    left: 0; 

}
.product:hover .main-image{
    display: none;
    
}





.discounted-price{
    color:red;
}
.price{
    text-decoration: line-through;
}

.discount{
    background-color: red;
    color:white;
    border:1px solid black;
    padding: 2px;
}

.sost{
    background-color: green;
    color:white;
    border: 1px solid black;
    padding:2px;
}

.discount-box{
position: absolute;
bottom: 100px;
}




/* FOOTER */

footer{
    height: 60px;
    background-color: black;
    color:white;

}

.footer-container{
    width: 80%;
    margin: 0 auto;
}


.footerboolando{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

